/* Start: Chat Assistant */
.chat-assistant {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  &__header {
    position: relative;
    text-align: center;
    padding: 48px;
    background-color: #ffffff;
    background-image:linear-gradient(235.84deg, rgba(221, 205, 249, 0.15) -5.69%, rgba(255, 255, 255, 0.15) 112.86%);
    z-index: 1;
    overflow: hidden;
    &:after {
        content : '';
        position: absolute;
        top: 50%;
        right: -30%;
        width: 750px;
        height: 592px;
        background-size: 750px auto;
        backdrop-filter: blur(301px);
        filter: blur(300px);
        transform: translateY(-50%) rotate(-50deg);
        z-index: -1;
        opacity: 0.25;
    }
    .bg-infography {
        position: absolute;
        width: 750px;
        height: 592px;
        backdrop-filter: blur(301px);
        filter: blur(300px);
        z-index: -1;
        opacity: 0.1;
        &.--right {
            top: 30%;
            right: -30%;
            transform: translateY(-50%) rotate(-50deg);
        }
        &.--left {
            top: 70%;
            left: -30%;
            transform: translateY(-50%) rotate(50deg);
        }
    }
  }
  &__query {
    max-width: 768px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 8px;
    &-headline {
      font-size: 28px;
      line-height: 28px;
      font-weight: 600;
      color: $text-dark;
      margin: 0 0 6px;
    }
    &-paratext {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: $text-light;
      margin: 0;
    }
  }
  &__response {
    padding: 0 48px;
    &-container {
        padding: 0 32px 32px;
    }
  }
  .tabbable-nav-wrap {
    position: sticky;
    top: 68px;
    z-index: 10;
    background-color: $color-white;
    .tabbable-line {
        padding-top: 24px;
    }
  }
  .dataTables_wrapper {
    padding: 20px;
    border: 1px solid #E9EAEB;
    border-radius: 8px;
  }
  .table {
    &.dataTable {
        thead {
            tr {
                > th {
                    &:first-child {
                        padding-left: 30px;
                    }
                }
            }
        }
        tbody {
            tr {
                &:hover {
                    background-color: #f6f6f6 !important;
                }
                &.child {
                    td {
                        white-space: normal;
                    }
                }
            }
        }
    }
  }
}
.prompt-box {
    width: 100%;
    position: relative;
    padding: 2px;
    border-radius: 16px;
    background: linear-gradient(270deg, #A07CFE, #FE8FB5, #FFBE7B, #A07CFE);
    background-size: 400% 400%;
    animation: gradient-rotate 2.5s linear infinite;
    margin: 24px auto;
    box-shadow: 0 0 4px rgba(160, 124, 254, 0.4),
            0 0 4px rgba(254, 143, 181, 0.3),
            0 0 4px rgba(255, 190, 123, 0.2);
    &__inner {
        padding: 8px 12px;
        border-radius: 14px;
        background-color: #ffffff;
    }
    &__input {
        input {
            width: 100%;
            height: 28px;
            border: none;
            padding: 4px 8px;
            margin: 8px 0 16px;
            background-color: transparent;
            &::placeholder {
                font-size: 16px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.5);
            }
            &:focus {
                outline: none;
            }
        }
    }
    &__toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-left {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .lucide-icon {
            font-size: 20px;
            color: #1C1C1C;
        }
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px 8px;
            cursor: pointer;
            border-radius: 4px;
            .lucide-icon {
                font-size: 16px;
                color: #1C1C1C;
                margin-right: 4px;
            }
            .lucide-icon-lg {
                font-size: 20px;
                color: #1C1C1C;
                margin-right: 0;
            }
            &:hover {
                background-color: #F9F5FF;
            }
            &.active {
                color: $color-primary;
                background-color: #F9F5FF;
                .lucide-icon {
                    color: $color-primary !important;
                }
            }
        }
    }
    &__top {
        padding: 12px 56px 24px 12px;
        display: none;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -40px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-color: #FAFAFA;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        &-left {
            flex-grow: 1;
        }
        &-right {
            flex-shrink: 0;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: auto;
        width: 100%;
        .form-control {
            background-color: transparent;
            border: none;
        }
    }
}
@keyframes gradient-rotate {
    0% {
    background-position: 0% 50%;
    }
    100% {
    background-position: 100% 50%;
    }
}
.prompt {
    &-suggestions {
        display: flex;
        align-items: stretch;
        gap: 12px;
    }
    &-suggestion {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        line-height: 18px;
        font-weight: 500;
        color: $text-main;
        padding: 8px 12px;
        border-radius: 14px;
        text-align: left;
        background-color: $color-white;
        border: 1px solid #DEDEDE;
        cursor: pointer;
        &:hover,
        &:focus {
            border-color: rgba(127, 86, 217, 0.1);
            background-color: rgba(127, 86, 217, 0.05);
        }
    }
}
.switch-assistant-btn {
    width: 768px;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    color: $color-primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-shadow: 0px 2px 1px 0px #DAD9D940 inset, 0px -2px 2px 0px #00000026 inset;
    background: linear-gradient(90.58deg, rgba(160, 124, 254, 0.25) 0%, rgba(254, 143, 181, 0.25) 50%, rgba(255, 190, 123, 0.25) 100%);
    .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin-right: 4px;
        border-radius: 50%;
        background-color: $color-primary;
    }
}
.analyzing {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 50px;
    color: #fff;
    &-text {
        background: linear-gradient(120deg, #A4A7AE 20%, #222327 40%, #A4A7AE 60%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        animation: shimmer 1.5s linear infinite;
    }
}

@keyframes shimmer {
    0% {
    background-position: 100% 0;
    }
    100% {
    background-position: -100% 0;
    }
}
@media (max-width: 1400px) {
    .chat-assistant {
        &__query {
            max-width: 680px;
        }
    }
}
.chat-markdown {
    position: relative;
    font-size: 16px;
    color: $text-dark;
    max-width: 812px;
    margin: 0 auto;
    padding-left: 44px;
    padding-bottom: 72px;
    &-icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        position: absolute;
        left: 0;
        background-color: #F4EBFF;
        border: 1px solid #D6BBFB;
    }
    &__query {
        max-width: 50%;
        padding: 8px 12px;
        border-radius: 16px;
        border-top-right-radius: 0;
        background-color: #F5F5F5;
        margin: 0 0 24px auto;
    }
    &__content {
        padding-bottom: 48px;
    }
    h1,h2,h3,h4,h5,h6 {
        font-weight: 600;
        margin: 24px 0 16px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4,h5,h6 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 16px;
    }
    .divider-line {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #EEEEEE;
        margin: 24px 0;
    }
    ul, ol {
        padding: 0 0 0 26px;
        margin-bottom: 16px;  
        li {
            padding: 4px 0;
            &::marker {
                color: #535862;
            } 
        }
    }
    ul {
       li {
            &::marker {
                color: #C6C6C6;
            } 
        }
    }
    blockquote {
        position: relative;
        padding: 8px 24px;
        border: none;
        margin-bottom: 8px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgba(127, 86, 217, 0.03);
        &:before {
            content: '';
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4px;
            background-color: rgba(127, 86, 217, 0.65);
        }
    }
    .chart-container {
        padding: 16px;
        border-radius: 16px;
        border: 1px solid #EEEEEE;
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        margin: 24px 0;
        thead,
        tbody {
            tr {
                td{
                    border: 1px solid #EEEEEE !important;
                }
            }
        }
        thead {
            > tr {
                th {
                    font-size: 16px;
                    background-color: #F5F5F5;
                    border-bottom: none !important;
                    &:first-child {
                        border-top-left-radius: 12px;
                    }
                    &:last-child {
                        border-top-right-radius: 12px;
                    }
                }
            }
        }
        tbody {
            > tr {
                &:first-child {
                    td {
                        border-top: none !important;
                    }   
                }
            }
        }
    }
    .prompt-box-wrap {
        width: 815px;
        position: fixed;
        margin-left: -44px;
        bottom: -30px;
        z-index: 1;
        opacity: 0;
        &:before {
            content: '';
            position: absolute;
            top: -60px;
            left: 0;
            width: 100%;
            height: 60px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: $color-white;
        }
        .prompt-box {
            margin: 0;
        }
        &.show {
            opacity: 1;
            bottom: 32px;
            transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
        }
    }
    &.has-prompt-top {
        .chat-markdown {
            &__content {
                padding-bottom: 152px;
            }
        }
        .prompt-box {
            &__top {
                display: flex;
                opacity: 1;
                margin-bottom: -12px;
            }
        }
    }
}
.action-bar {
    display: flex;
    gap: 12px;
    background: $color-white;
    padding: 10px 0;
    border-radius: 4px;
    .icon-btn {
      all: unset;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
      width: 28px;
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.5);
      transition: background 0.2s ease, color 0.2s ease;
      position: relative;
      &:hover {
        background-color: #F5F5F5;
        color: rgba(0, 0, 0, 0.65);
        text-shadow: none;
        }
        svg {
            width: 20px;
            height: 20px;
            stroke: currentColor;
            stroke-width: 1.5;
            fill: none;
            transition: transform 0.3s ease;
        }
        &.active {
            svg {
                fill: rgba(0, 0, 0, 0.5) !important;
                stroke: none !important;
            }
        }
    }
}
/* Animations */
.rotate svg {
    animation: rotate360 0.5s linear;
}

@keyframes rotate360 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* End: Chat Assistant */