/* DASHBOARD STYLE */

.dashboard-stat2 {
  position: relative;
  padding-bottom: 15px;
  .display {
    margin-bottom: 0;
    .icon {
      opacity: 0.4;
      position: absolute;
      right: 16px;
      top: 50%;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      > i {
        font-size: 50px;
        line-height: normal;
      }
    }
    .number {
      small {
        min-height: 40px;
        display: inline-block;
      }
    }
  }
}

.data-treeview {
  .mt-checkbox-list {
    list-style: none;
    ul {
      padding-left: 25px;
    }
    li {
      list-style: none;
    }
  }
  .mt-checkbox {
    padding-left: 25px;
    margin-bottom: 10px;
  }
}

/* Start: Panel Style */
.page-panel {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #E9EAEB;
  }
  &__title {
    .caption {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
      margin: 0;
      color: $text-dark;
    }
    .desc {
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      color: $text-light;
    }
  }
  &__body {
    padding-top: 24px;
  }
}
/* End: Panel Style */

/* Start: Toast Message */
#toast-container {
  top: 0;
  right: 0;
  background: linear-gradient(216deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 43.39%);
  >.toast {
    width: 400px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: $color-white !important;
    opacity: 1;
    margin: 24px;
    box-shadow: 0px 2px 2px -1px rgba(10, 13, 18, 0.04), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 12px 16px -4px rgba(10, 13, 18, 0.08) !important;
    .toast-close-button {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-indent: -9999px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDVMNSAxNU01IDVMMTUgMTUiIHN0cm9rZT0iI0E0QTdBRSIgc3Ryb2tlLXdpZHRoPSIxLjY2NjY3IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==') !important;
      background-position: center center;
      background-size: 20px auto;
    }
    &-success {
      background-image: none !important;
    }
  }
}
.toast-message {
  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  &__img {
    width: 32px;
    height: 32px;
    img {
      display: block;
      width: 32px !important;
      height: 32px !important;
      margin-right: 0 !important;
    }
  }
  &__content {
    h6 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: $text-dark;
      margin: 2px 0 8px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      color: $text-main;
      max-width: 290px;
      margin: 0 0 16px;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    gap: 12px;
    a {
      font-size: 14px;
      font-weight: 600;
    }
  }
}
/* End: Toast Message */