/* LAYOUT */

.page-bar {
  background-color: transparent;
  .page-breadcrumb {
    display: inline-flex;
    align-items:center;
    padding: 0;
    > li {
      display: inline-flex;
      align-items:center;

    }
    > li > a,
    > li > span {
      font-size: 14px;
      font-weight: 500;
      color: #717680;
      padding: 0 4px;
      &.material-symbols-rounded {
        padding: 0;
      }
    }
    > li > i {
      font-size: 20px;
    }
  }
}


.page-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  &__left {
    flex-grow: 1;
  }
  &__right {
    flex-shrink: 0;
    padding-left: 16px;
  }
  .page-title {
    display: inline-flex;
    align-items:center;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    color: #181D27;
    margin-bottom: 4px;
    .sub-title {
      color: $text-main;
      margin-left: 4px;
    }
  }
  .page-desc {
    font-size: 16px;
    color: #535862;
    margin: 0;
  }
  .page-action {
      float: right;
      margin-top: -4px;
  }
}
@media (max-width: 767.98px) {
  .page-content-wrapper {
    .page-content {
      padding: 20px 15px !important;
      .page-title-section {
        align-items: flex-start !important;
        flex-direction: column;
        &__right {
          padding-left: 0;
          padding-top: 16px;
        }
        .page-title {
          font-size: 24px;
          margin-bottom: 0;
        }
      }
    }
  }
}
/* Modal */
.modal {
  text-align: center;
  padding: 0!important;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .modal-dialog-centered {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  &.jstree-nested-modal {
    .mt-checkbox-list,
    .mt-radio-list {
      padding-bottom: 0;
      .mt-checkbox,
      .mt-radio {
        float: left;
        border: 1px solid #ccc;
        padding: 3px 10px 4px 30px;
        border-radius: 30px;
        margin-right: 6px;
        margin-bottom: 6px;
        &.mt-checkbox-outline,
        &.mt-radio-outline {
          >span {
            margin-top: 3px;
            margin-left: 4px;
            border-radius: 10px;
          }
        }
      }
    }
    .mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span, 
    .mt-radio.mt-radio-outline:hover>input:not([disabled])~span, 
    .mt-radio.mt-radio-outline>input:checked~span {
      background-color: #36c6d3;
      border-color: #36c6d3;
    }
    .mt-radio {
      >span {
        &:after {
          background: #ffffff;
        }
      }
    }
  }
}

.fileformats-filter {
  border-radius: 3px;
  margin-bottom: 10px;
  max-width: 500px;
  .input-group-btn {
    .btn {
      line-height: 1.42857;
      font-size: 16px;
      height: 50px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  .select2-container--bootstrap {
    .select2-selection {
      border-color: #ccc;
    }
    .select2-selection--single {
      padding: 14px 24px 12px 12px;
      height: 50px;
      font-size: 15px;
    }
    .select2-selection__choice {
      padding: 14px 24px 12px 12px;
    }
    // .select2-selection--multiple {
    //   min-height: 50px;
    //   .select2-selection__choice {
    //     padding: 7px 10px;
    //   }
    //   .select2-search--inline {
    //     .select2-search__field {
    //       height: 48px;
    //     }
    //   }
    // }
    .select2-results__option--highlighted[aria-selected] {
      background-color: #36c6d3;
    }
  }
  .select2-selection__choice  {
    font-size: 15px;
    .select2-selection__choice__remove {
      color:#484848;
      font-size: 20px;
      margin-right: 10px;
      line-height: 20px;
      float: left;
    }
  } 
  @media (max-width: map-get($m-layout-breakpoints, md) - 1px) {
    .select2-selection__choice {
      font-size: 12px;
      .select2-selection__choice__remove {
        font-size: 18px;
        line-height: 18px;
      }
    }
    .select2-container--bootstrap {
      .select2-selection--multiple {
        min-height: 40px;
        .select2-selection__choice {
          padding: 5px 8px 5px 6px;
        }
        .select2-search--inline {
          .select2-search__field {
            height: 40px;
          }
        }
      }
    }
  }
  @media (max-width: map-get($m-layout-breakpoints, sm) - 1px) {
    .input-group-btn {
      display: block;
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}

.portlet {
  &.portlet-tabs {
    &.light {
      background-color: #FAFAFB;
      border: 1px solid #ddd;
    }
    > .portlet-title {
      > .nav-tabs {
        float: left;
        > li {
          > a {
            font-size: 16px;
          }
          &.active {
            > a {
              font-weight: 600;
            }
          }
        }
      }
    }
    .inlinepopup {
      margin-bottom: 5px;
    }
  }
}

//Div Table
.div-table {
  display: table;
  width: 100%;
  border: 1px solid #ddd;
}
.div-table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
  min-height: 40px;
}
.div-table-row {
  display: table-row;
}
.div-table-cell {
  display: table-cell;
  border: 1px solid #ddd;
  border-width: thin;
  padding-left: 12px;
  padding-right: 12px;
  height: 50px;
  vertical-align: middle;
}

.sources-comparator {
  max-width: 600px;
  .select2-container--bootstrap {
    .select2-selection {
      border-color: #eee;
    }
  }
  .form-group {
    .control-label {
      // float: left;
    }
    .form-control {

    }
  }
  .div-table {
    margin-bottom: 10px;
  }
  .div-table-row {
    &.indent-level-1 {
      .div-table-cell {
        &:first-child,
        &:last-child {
          padding-left: 30px;
        }
      }
    }
    &.indent-level-2 {
      .div-table-cell {
        &:first-child,
        &:last-child {
          padding-left: 50px;
        }
      }
    }
  }
}

// .page-header.navbar {
//   background: #2de5a7;
// }

// Tab layout
.tabbable-line {
  &.tabbable-theme {
    > .nav-tabs {
      border: 1px solid #ddd;
      margin: 0 15px;
      text-align: center;
      padding: 4px 0;
      font-size: 0;
      border-radius: 4px;
      > li {
        position: relative;
        float: none;
        display: inline-block;
        border-bottom: 0;
        padding: 0 5px 0 4px;
        &:after {
          position: absolute;
          height: 20px;
          content: '';
          width: 1px;
          background: #e7e7e7;
          right: 0;
          top: 50%;
          margin-top: -10px;
          overflow: hidden;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        > a {
          color: #666;
          font-weight: 400;
          padding: 4px 15px 5px;
        }
      }
      > li.active {
        border-color: transparent;
        > a {
          color: #FFF;
          background-color: #32c5d2 !important;
          display: inline-block;
          border-radius: 3px;
          &:hover {
            color: #FFF;
          }
        }
      }
      > li {
        &:hover {
          border-color: transparent;
          cursor: pointer;
          position: relative;
          a {
            color: #444;
          }
        }
      }
    }
    > .tab-content {
      border: none;
      padding: 4px 0 10px;
    }
  }
}


/* New styles */
.table .btn {
  border-radius: 3px; }

.table .btn.btn-validate.active {
  color: #fff !important;
  background-color: #1bbc9b !important;
  border-color: #1bbc9b !important; }

.table .btn.btn-error.active {
  color: #fff !important;
  background-color: #e7505a !important;
  border-color: #e7505a !important; }

.table .btn-group > .btn:last-child:not(:first-child),
.table .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 3px; }

.table .btn-group > .btn:last-child:not(:first-child) {
  margin-left: 5px; }

.table .btn-group .btn {
  margin-left: 0; }

.modal-compact-view {
  overflow: hidden;
  overflow-y: auto; }

.modal .close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: 0.3; }

.modal .close:hover {
  opacity: 1; }

.modal .close:after,
.modal .close:before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 24px;
  width: 2px;
  background-color: #333; }

.modal .close:before {
  transform: rotate(45deg); }

.modal .close:after {
  transform: rotate(-45deg); }

.monitor-thumb-body {
  padding-bottom: 15px; }

.progress,
.progress-bar-gren {
  border-radius: 20px; }

.progress-bar {
  color: #000;
  font-weight: 600; }

.progress-bar-gren {
  box-shadow: none;
  background-color: #2de5a7; }

.monitor-alert-buttons {
  margin-bottom: 15px; }

/* Table design */
.table-theme table.table {
  margin-bottom: 10px; }

.table-theme .dataTables_wrapper .dataTables_filter input {
  margin-left: 10px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  width: 145px !important;
  background-color: #fff;
  border: 1px solid #c2cad8;
  border-radius: 2px;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.table-theme table.table.dataTable.no-footer {
  border-bottom-color: #e7ecf1; }

.table-theme .dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  margin-left: -1px;
  margin-bottom: 10px; }

.table-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.table-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #337ab7 !important;
  color: #FFF !important;
  border-color: #337ab7;
  border-radius: 0; }

.table-theme .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.table-theme .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.table-theme .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  border: 1px solid #ddd; }

.table-theme .dataTables_wrapper .dataTables_paginate > .paginate_button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.table-theme .dataTables_wrapper .dataTables_paginate > .paginate_button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.table-theme.table-scrollable {
  border: none; }

.table-theme.table-scrollable .btn-group {
  width: 160px; }

.table-theme.table-scrollable .dataTable td > .btn-group, .table-scrollable .dataTable th > .btn-group {
  position: initial;
  margin-top: 0; }

/* No Data Message */
.message_no-data {
  max-width: 400px;
  margin: 50px auto;
  text-align: center; }
  .message_no-data .icon__nodata {
    opacity: 0.75; }
    .message_no-data .icon__nodata > img {
      width: 80px;
      height: 80px; }
  .message_no-data h5 {
    font-size: 20px; }

.modal-xlg {
  width: 90%; }

@media (min-width: 992px) {
  .modal-xlg {
    width: 90%; } }
@media (min-width: 768px) {
  .modal-xlg {
    width: 90%; } }

.table-fluid { width: 100% !important; }


// Workflow page layout
// =====================

.panel-workflow {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14) !important;
  text-align: center;
  margin: 0 0 20px 0;
  border-radius: 0;
  border: none;
  > .panel-body {
    position: relative;
    padding: 25px 25px 35px 25px;
    &:after {
      border-bottom: 5px solid #888;
      height: 5px;
      width: 100%;
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 15px;
      -o-transition: .2s;
      -ms-transition: .2s;
      -moz-transition: .2s;
      -webkit-transition: .2s;
      transition: .2s;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      &:after {
        border-bottom: 10px solid #2de5a7;
        height: 10px;
      }
      .app-grid-title {
        color: #2de5a7;
      }
    }
  }
  .panel-badge {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 4px !important;
    font-size: 12px !important;
    height: auto;
    font-weight: 500;
    padding: 6px 20px;
    line-height: normal;
    background-color: rgba(40, 42, 60, 7%);
    color: #000;
  }
  .panel-icon {
    margin: 0 auto;
    width: 74px;
    height: 74px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    line-height: 74px;
    > img {
      width: 60px;
      height: 60px;;
    }
  }
  .panel-title {
    font-size: 20px;
    font-weight: 600;
    color: #484848;
    margin-top: 20px;
  }
  .panel-caption {
    color: #707070;
    font-size: 16px;
    margin-top: 5px;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Workflow icons
.workflow-actions {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: inline-block;
  > li {
    float: left;
    margin: 3px;
  }
  i {
    &.workflow-icon__delete {
      background: url(../img/icons/icon_workflow-action_delete.svg);
    }
    &.workflow-icon__linage {
      background: url(../img/icons/icon_workflow-action_linage.svg);
    }
    &.workflow-icon__report {
      background: url(../img/icons/icon_workflow-action_report.svg);
    }
    &.workflow-icon__run-workflow {
      background: url(../img/icons/icon_workflow-action_run-workflow.svg);
    }
    &.workflow-icon__schema-mapping {
      background: url(../img/icons/icon_workflow-action_schema-mapping.svg);
    }
    &.workflow-icon__training {
      background: url(../img/icons/icon_workflow-action_training.svg);
    }
    &.workflow-icon__re-configure {
      background: url(../img/icons/icon_workflow-action_re-configure-pipeline.svg);
    }
    &.workflow-icon__delete,
    &.workflow-icon__linage,
    &.workflow-icon__report,
    &.workflow-icon__run-workflow,
    &.workflow-icon__schema-mapping,
    &.workflow-icon__training,
    &.workflow-icon__re-configure {
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    width: 30px;
    height: 30px;
    display: block;
    vertical-align: middle;
    padding: 0;
  }
}

@media (max-width: map-get($m-layout-breakpoints, lg) - 1px) {
  .panel-workflow {
    > .panel-body  {
      padding: 15px 15px 25px 15px;
    }
    .panel-badge {
      padding: 4px 10px;
      top: 10px;
      right: 10px;
    }
  }
  .workflow-actions {
    > li {
      margin: 0;
    }
  }
}