/* Start: Profile Styles */
.user-profile {
    padding: 0 0 24px;
    &__info {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__avator {
        position: relative;
        width: 96px;
        height: 96px;
        border-radius: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.08);
        z-index: 1;
        &:after {
            content: '';
            width: 86px;
            height: 86px;
            border-radius: 86px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #F5F5F5;
            z-index: -1;
            border: 1px solid rgba(0, 0, 0, 0.08);
            box-shadow: 0px 3px 3px -1.5px rgba(10, 13, 18, 0.04), 0px 8px 8px -4px rgba(10, 13, 18, 0.03), 0px 20px 24px -4px rgba(10, 13, 18, 0.08);
        }
    }
    &__name {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        color: $text-dark;
        margin: 0 0 4px;
    }
    &__email {
        font-size: 16px;
        color: $text-light;
        margin: 0;
    }
}
.user-profile-wrap {
    .user-profile {
        margin-top: -60px;
    }
}
.setting-grid {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    &-item {
        flex: 1 0;
        min-width: 0;
    }
    &-aside {
        width: 300px;
        flex: 0 0 300px;
    }
}
.setting-textarea {
    h6 {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: $text-main;
        margin: 0 0 4px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        color: $text-light;
        margin: 0;
    }
}
.setting-card {
    border-radius: 12px;
    border: 1px solid #E9EAEB;
    &__body {
        padding: 24px;
    }
    &__footer {
        padding: 16px 24px;
        border-top: 1px solid #E9EAEB;
    }
}
@media (max-width: 1450px) {
    .setting-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        &-aside {
            width: auto;
            flex: 0 0 auto;
            margin-bottom: 20px;
        }
    }
}
/* End: Profile Styles */