/* Start: Custom table */
.table {
    &.dataTable {
        white-space: nowrap;
        border-collapse: collapse;
        thead {
            tr {
                > th {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    color: #717680;
                    padding: 12px;
                    border-bottom: 1px solid #E9EAEB;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    &.sorting {
                        background: none;
                        &:before,
                        &:after {
                            content: none !important;
                        }
                        >span {
                            position: relative;
                            &:before,
                            &:after {
                                content: '';
                                position: absolute;
                                left: calc(100% + 5px);
                                width: 10px;
                                height: 5px;
                                opacity: 1;
                                display: inline-block;
                            }
                            &:before {
                                top: calc(50% - 2px);
                                transform: translateY(-50%);
                                background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNyA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSAzLjVMMy41IDFMNiAzLjUiIHN0cm9rZT0iI0E0QTdBRSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K') center center no-repeat;
                                background-size: 7px auto;
                            }
                            &:after {
                                top: auto;
                                bottom: calc(50% - 9px);
                                transform: translateY(-50%);
                                background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNyA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSAxTDMuNSAzLjVMNiAxIiBzdHJva2U9IiNBNEE3QUUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==') center center no-repeat;
                                background-size: 7px auto
                            }
                        }
                        &.sorting_asc {
                            background: none;
                            >span {
                                &:before {
                                    top: 50%;
                                    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNyA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSA0TDMuNSAxTDYgNCIgc3Ryb2tlPSIjNjk0MUM2IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=') center center no-repeat;
                                    background-size: 7px auto;
                                }
                                &:after {
                                    content: none;
                                }
                            }
                        }
                        &.sorting_desc {
                            background: none;
                            >span {
                                &:after {
                                    bottom: calc(50% - 6px);
                                    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNyA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSAxTDMuNSAzLjVMNiAxIiBzdHJva2U9IiM2OTQxQzYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==') center center no-repeat;
                                    background-size: 7px auto;
                                }
                                &:before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        tbody {
            >tr {
                >th,>td {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #535862;
                    padding: 12px;
                    vertical-align: middle;
                    border-top: 1px solid #E9EAEB;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    &.tbl-cell-align-right {
                        text-align: right;
                    }
                }
                &:first-child {
                    >td {
                        border-top: none;
                    }
                }
                &:hover {
                    background-color: #f6f6f6 !important;
                }
            }
        }
        &.no-footer {
            // border-bottom: 1px solid #E9EAEB !important;
            border-bottom: none !important;
        }
        td {
            &.sorting_1,
            &.sorting_2,
            &.sorting_3 {
                background-color: transparent !important;
            }
        }
        .tbl-pill {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: #414651;
            padding: 4px 12px;
            border-radius: 6px;
            border: 1px solid #D5D7DA;
            white-space: nowrap;
            > .icon {
                margin-right: 4px;
                svg {
                    display: block;
                }
            }
        }
        .user-card {
            &__users {
                &-count {
                    color: $text-light;
                }
            }
        }
        &.display {
            tbody {
                tr {
                    &.odd {
                        background-color: transparent;
                    }
                }
            }
        }
        &.dtr-inline {
            &.collapsed {
                > tbody {
                    > tr {
                        >td {
                            &:first-child {
                                &:before {
                                    content: '';
                                    width: 20px;
                                    height: 20px;
                                    top: 11px;
                                    border-radius: 4px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: transparent url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuNSA1TDEyLjUgMTBMNy41IDE1IiBzdHJva2U9IiNBNEE3QUUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=') center center no-repeat;
                                    background-size: 16px 16px;
                                    transition: all 0.1s ease-in-out;
                                    border: none;
                                }
                            }
                        }
                        &.parent {
                            > td {
                                &:first-child {
                                    &:before {
                                        content: '';
                                        background: transparent url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuNSA1TDEyLjUgMTBMNy41IDE1IiBzdHJva2U9IiNBNEE3QUUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=') center center no-repeat;
                                        background-size: 16px 16px;
                                        transform: rotate(90deg);
                                        transition: all 0.1s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.dataTables_scrollHead {
  border-bottom: 1px solid #e7ecf1 !important;
}
.dataTable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 10px;
}
.dataTable-filters-group {
    margin-bottom: 10px;
}
.dataTable-title {
    font-size: 20px;
    font-weight: 600;
}
.dataTable-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.dataTables_filter {
    label {
        margin-bottom: 0;
    }
    input {
        width: 220px;
        font-size: 16px;
        line-height: 18px;
        padding: 10px 12px 10px 40px;
        border-radius: 8px;
        border: 1px solid #D5D7DA;
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjUgMTcuNUwxNC41ODM0IDE0LjU4MzNNMTYuNjY2NyA5LjU4MzMzQzE2LjY2NjcgMTMuNDk1NCAxMy40OTU0IDE2LjY2NjcgOS41ODMzMyAxNi42NjY3QzUuNjcxMzIgMTYuNjY2NyAyLjUgMTMuNDk1NCAyLjUgOS41ODMzM0MyLjUgNS42NzEzMiA1LjY3MTMyIDIuNSA5LjU4MzMzIDIuNUMxMy40OTU0IDIuNSAxNi42NjY3IDUuNjcxMzIgMTYuNjY2NyA5LjU4MzMzWiIgc3Ryb2tlPSIjQTRBN0FFIiBzdHJva2Utd2lkdGg9IjEuNjY2NjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K') no-repeat 12px center;
        background-size: 20px 20px;
        outline: none;
        &::placeholder {
            color: #717680;
        }
        &:focus,
        &:focus-visible {
            outline: none;
            border-color: $color-primary;
        }
    }
}
.dataTables_wrapper {
    .dataTables_paginate {
        width: 100%;
        padding: 22px 0 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .paginate_button {
            position: relative;
            color: #717680 !important;
            font-weight: 500;
            border-radius: 8px;
            border: none;
            &:hover,
            &:focus {
                color: #717680 !important;
                border: none !important;
                background: #FAFAFA;
                background-image: none !important;
            }
            &.previous,
            &.next {
                line-height: 18px;
                border-radius: 8px;
                padding: 8px 14px;
                color: #414651 !important;
                border: 1px solid #D5D7DA;
                box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05), inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05);
                &:hover,
                &:focus {
                    color: #414651 !important;
                    border: 1px solid #D5D7DA !important;
                    background-color: #F5F5F5;
                    background-image: none;
                }
                &.disabled {
                    color: #A4A7AE !important;
                    border-color: #E9EAEB;
                    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
                    &:before {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }
            }
            &.previous {
                padding-left: 36px;
                &:before {
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%) rotate(-180deg);
                    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuMTY2NzUgOS45OTk4NEgxNS44MzM0TTE1LjgzMzQgOS45OTk4NEwxMC4wMDAxIDQuMTY2NU0xNS44MzM0IDkuOTk5ODRMMTAuMDAwMSAxNS44MzMyIiBzdHJva2U9IiNBNEE3QUUiIHN0cm9rZS13aWR0aD0iMS42NjY2NyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=') left center no-repeat;
                }
            }
            &.next {
                padding-right: 36px;
                &:before {
                    right: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuMTY2NzUgOS45OTk4NEgxNS44MzM0TTE1LjgzMzQgOS45OTk4NEwxMC4wMDAxIDQuMTY2NU0xNS44MzM0IDkuOTk5ODRMMTAuMDAwMSAxNS44MzMyIiBzdHJva2U9IiNBNEE3QUUiIHN0cm9rZS13aWR0aD0iMS42NjY2NyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=') left center no-repeat;
                }
            }
            &.previous,
            &.next {
                &:before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: absolute;
                    background-size: 20px auto;
                }
            }
            &.current {
                border: none !important;
                background: #FAFAFA !important;
            }
        }
    }
}
.media {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    &__icon {
        flex-shrink: 0;
        &--circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 16px;
            font-weight: 600;
            color: #717680;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E9EAEB;
            margin-right: 12px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
    &__content {
        h4 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: $text-dark;
            margin: 0 0 6px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            color: $text-light;
            margin: 0;
        }
    }
}
.tbl-tags {
    display: flex;
    align-items: center;
    gap: 4px;
}
.tbl-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $text-dark;
    padding: 4px 10px;
    border-radius: 8px;
    border: 1px solid $border-primary;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    &.tbl-tag-sm {
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 6px;
        line-height: 16px;
    }
    &--blue {
        color: #026AA2;
        border-color: #B9E6FE;
        background-color: #F0F9FF;
    }
    &--indigo {
        color: #3538CD;
        border-color: #C7D7FE;
        background-color: #EEF4FF;
    }
    &--gray {
        color: #363F72;
        border-color: #D5D9EB;
        background-color: #F8F9FC;
    }
    .circle {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        margin-right: 8px;
        background-color: #717680;
        &--green {
            background-color: #17B26A;
        }
        &--purple {
            background-color: #9E77ED;
        }
        &--blue {
            background-color: #2E90FA;
        }
        &--pink {
            background-color: #EE46BC;
        }
        &--dark-blue {
            background-color: #6172F3;
        }
    }
}
.tbl-badge {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 4px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $text-dark;
    border: 1px solid #E9EAEB;
    background-color: $color-white;
    gap: 2px;
    > span {
        &.lucide-icon {
            font-size: 12px;
        }
    }
    &--warning {
        color: #B54708;
        border-color: #FEDF89;
        background-color: #FFFAEB;
    }
    &--success {
        color: #067647;
        border-color: #ABEFC6;
        background-color: #ECFDF3;
    }
    &--danger {
        color: #B42318;
        border-color: #FECDCA;
        background-color: #FEF3F2;
    }
}
.user-tags {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    max-width: 300px;
    flex-wrap: wrap;
}
.user-tag {
    font-size: 12px;
    color: $text-main;
    padding: 2px 10px;
    border-radius: 999px;
    border: 1px solid #D5D9EB;
    background-color: #F8F9FC;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        border: none;
    }
    .dataTable-header {
        flex-direction: column;
    }
}
/* End: Custom table */