/* WELCOME PAGE STYLE */

.page-header {
  &.navbar {
    background-color: #F9F9F9;
    .page-header-inner {
      border-bottom: 1px solid #E9EAEB;
    }
    .page-logo {
      width: 310px;
      background-color: $color-white;
      border-right: 1px solid #E9EAEB;
      .logo-default {
        width: auto;
        height: 36px;
        margin-top: 18px;
        margin-left: 0;
      }
      .brand-de {
        display: none;
        svg {
          display: block;
        }
      }
    }
    .menu-toggler {
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMgMTJIMTdNMyA2SDIxTTMgMThIMjEiIHN0cm9rZT0iIzcxNzY4MCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
    }
    .page-top {
      background-color: #F9F9F9;
      box-shadow: none;
      .navbar-nav {
        > li.dropdown-user {
          > .dropdown-toggle {
            > .username {
              font-size: 16px;
              color: #5E6278;
            }
          }
        }
      }
    }
  }
}
.page-bg-white {
  .page-header {
    &.navbar {
      background-color: $color-white;
      .page-top {
        background-color: $color-white;
      }
    }
  }
}
.page-footer {
  text-align: center;
  .page-footer-inner {
    float: none;
  }
}
.intro-text {
  h1 {
    font-size: 30px;
    margin: 20px 0 40px;
  }
  p {
    font-size: 18px;
    margin-top: 10px;
  }
  strong {
    font-weight: 600;
  }
}
.welcome-card-holder {
  max-width: 900px;
  margin: 0 auto;
}
.welcome-cards {
  padding: 0;
  text-align: center;
  .welcome-card-title {
    font-size: 16px;
    color: #444;
    font-weight: 600;
    line-height: 18px;
    margin: 15px 0;
    .label {
      font-size: 13px;
      padding: 4px 0;
      width: 22px;
      height: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 5px;
      border: 1px solid #fff;
      &.label-dark {
        border: 1px solid #444;
        color: #444;
      }
    }
  }
  .welcome-card-view {
    img {
      width: 200px;
      height: auto;
    }
  }
  > a {
    width: 100%;
    height: 100%;
    display: block;
    color: #444;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    img {
      -webkit-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      text-decoration: none;
      img {
        -moz-transform: translate(4px, 0);
        -ms-transform: translate(4px, 0);
        -o-transform: translate(4px, 0);
        -webkit-transform: translate(4px, 0);
        transform: translate(4px, 0);
        &.al-logout {
          -moz-transform: translate(-4px, 0);
          -ms-transform: translate(-4px, 0);
          -o-transform: translate(-4px, 0);
          -webkit-transform: translate(-4px, 0);
          transform: translate(-4px, 0);
        }
      }
    }
  }
}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-header-inner .page-logo .brand-de {
  display: block;
  margin: 18px 0 0 21px;
}
.welcome-card-link {
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  position: relative;
  line-height: normal;
  background-color: #2de5a7;
  display: inline-block;
  .action-link {
    width: 24px;
    height: 24px;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
  }
  &.al-logout {
    background-color: #d4d4d4;
  }
}
.bg-white {
  background-color: #fff;
}
.page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
  background-color: #eef1f5;
} 
.page-container-bg-solid .page-content {
  background-color: #F9F9F9;
}
.page-bg-white {
  &.page-container-bg-solid {
    .page-content {
      background-color: $color-white;
    }
  }
}
@media (max-width: 1280px) {
  .welcome-card-holder {
    max-width: 600px;
  }
  .welcome-card {
    height: 200px;
    .welcome-card-title {
      font-size: 15px;
    }
    .welcome-card-view {
      img {
        width: 160px;
      }
    }
  }
}
@media (max-width: 991.98px) {
  .page-header {
    &.navbar {
      .page-logo {
        border-right: none;
      }
    }
  }
}
@media (max-width: map-get($m-layout-breakpoints, sm)) {
  .page-header.navbar {
    background-color: #fff;
    .page-top {
      background-color: #fff;
    }
  }
  .welcome-card-holder {
    width: 400px;
    margin: 0 auto 10px;
  }
  .welcome-card {
    height: 160px;
    .welcome-card-view {
      img {
        width: 100px;
      }
    }
    &.col-xs-wc {
      width: 33.333%;
      float: left;
    }
  }
}

@media (max-width: map-get($m-layout-breakpoints, xs)) {
  .welcome-card-holder {
    width: 100%;
    > .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .welcome-card.col-xs-wc {
      width: 100%;
      float: left;
  }
}
/* Start: Welcome Banner */
.welcome-banner {
  margin-bottom: 40px;
  background-color: #F4EBFF;
  &__stacked {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 64px 30px;
  }
  &__headline {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #42307D;
    margin: 0 0 24px;
  }
  &__paratext {
    max-width: 850px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #6941C6;
    margin: 0 auto 48px;
  }
}
/* End: Welcome Banner */
/* Start: Welcome Card */
.welcome-card {
  margin-bottom: 32px;
  height: 100%;
  &__content {
    text-align: left;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #D5D7DA;
    background-color: $color-white;
  }
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  &__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    color: $color-primary;
    border: 1px solid #E9D7FE;
    background-color: #F4EBFF;
    margin-right: 16px;
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    color: #181D27;
    margin: 0;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    color: #535862;
    margin: 0;
    min-height: 48px;
  }
}
@media (max-width: 1535.98px) {
  .welcome-banner{
    margin-bottom: 40px;
    &__stacked {
      max-width: 780px;
      padding: 40px 24px;
    }
    &__headline {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    &__paratext {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 32px;
    }
  }
  .welcome-card {
    &__content {
      padding: 20px;
    }
    &__title {
      font-size: 16px;
    }
    &__text {
      font-size: 14px;
    }
  }
}
@media (max-width: 1199.98px) {
  .welcome-banner{
    &__headline {
      font-size: 32px;
      line-height: 42px;
    }
  }
}
@media (max-width: 575.98px) {
  .welcome-banner {
    &__stacked {
      padding: 35px 20px;
    }
    &__headline {
      font-size: 24px;
      line-height: 36px;
    }
    &__paratext {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 24px;
    }
  }
}
/* End: Welcome Card */