/* ALERTS */

.monitor-alerts {
  position: relative;
  .alert-heading {
  	margin-top: 0;
  }
  > p {
  	margin-bottom: 10px;
  }
  .alert-icon {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 5px;
    &.alert-success {
      background: #28b62c;
    }
    &.alert-warning {
      background: #ff851b;
    }
    &.alert-danger {
      background: #ff4136;
    }
  }
  &.alert-success {
    background-color: #fff;
    border-color: #28b62c;
    color: #444;
  }
  &.alert-warning {
    background-color: #fff;
    border-color: #ff851b;
    color: #444;
  }
  &.alert-danger {
    background-color: #fff;
    border-color: #ff4136;
    color: #444;
  }
}

/* Notification section */

.notifications-section {
  .inlinePopup-grid {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 33.333%;
    margin: 10px 0;
    position: relative;
    .notifications-card {
      background-color: #fff;
      padding: 10px;
      border-radius: 3px;
      // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14); // cursor: pointer;
      display: block;
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s;
      &:hover,
      &:focus {
        text-decoration: none;
        cursor: default;
      }
    }
    &.has-notifications-detail {
      .notifications-card {
        &:hover {
          // box-shadow: 0px 2px 13px 0 rgba(0, 0, 0, 0.6);
          cursor: pointer;
        }
      }
      &.active {
        .notifications-card {
            // box-shadow: 0px 2px 13px 0 rgba(0, 0, 0, 0.6);
            cursor: pointer;
        }
      }
    }
  }
  .inlinepopup {
    // width: 33.333%;
    .inlinepopup-portlet {
      margin-bottom: 0;
    }
  }
} 

$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 3;

.notifications-section {
  .inlinepopup_arrow {
    &:before {
      top: 37px;
    }
    &:after {
      top: 38px;
    }
  }
  .alert-icon {
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      font-size: 18px;
      color: #079455;
    }
    &:before,
    &:after {
      content: '';
      border: 1px solid transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:before {
      height: 28px;
      width: 28px;
      border-radius: 28px;
    }
    &:after {
      height: 20px;
      width: 20px;
      border-radius: 20px;
    }
    &.alert-success {
      background-color: transparent;
      &:before {
        border-color: rgba(7, 148, 85, 0.3);
      }
      &:after {
        border-color: #079455;
      }
    }
    &.alert-warning {
      background: #ff851b;
    }
    &.alert-danger {
      background: #ff4136;
    }
  }
  .inlinePopup-grid {
    > .notifications-card {
      height: max-content;
      p {
        display: block; /* Fallback for non-webkit */
          display: -webkit-box; 
          height: auto; /* Fallback for non-webkit */ 
          font-size: $font-size;
          line-height: $line-height;
          -webkit-line-clamp: $lines-to-show;
          -moz-line-clamp: $lines-to-show;
          line-clamp: $lines-to-show; 
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 10px;
      }
    }
    &.alert-success,
    &.alert-warning,
    &.alert-danger {
      background-color: transparent;
      border-color: initial;
      color: initial;
    }
    &.alert-success {
      .notifications-card {
        background-color: #fff;
        border: 1px solid #D5D7DA;
        color: #444;
        border-radius: 12px;
      }
    }
    &.alert-warning {
      .notifications-card {
        background-color: #fff;
        border: 1px solid #ff851b;
        color: #444;
      }
    }
    &.alert-danger {
      .notifications-card {
        background-color: #fff;
        border: 1px solid #ff4136;
        color: #444;
      }   
    }
  }
  .brandcard-details-in {
    &.alert-danger { 
      color: #e73d4a;
    }
    .alert-success {  
      background-color: rgba(171, 231, 237, 0.5);
      p {
        color: #444;
      }
    }
    .alert-warning {  
      background-color: rgba(249, 228, 145, 0.5);
      p {
        color: #444;
      }
    }
    .alert-danger {  
      background-color: rgba(251, 225, 227, 0.5);
      p {
        color: #444;
      }
    }
  }
  .brandcard-details-in {
    padding-top: 35px;
  }
} 