<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Synthetic Data Generator</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Use absolute /static/ paths -->
  <link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
  <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
  <link href="/static/assets/global/css/components-rounded.min.css" rel="stylesheet" />
  <link href="/static/assets/global/css/plugins.min.css" rel="stylesheet" />
  <link href="/static/google-icons/google-material-icons.css" rel="stylesheet" />
  <link href="/static/google-icons/google-material-symbols-rounded.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lucide-static@0.518.0/font/lucide.css" />
  <link href="/static/assets/pages/css/login-5.min.css" rel="stylesheet" />
  <link href="/static/assets/pages/css/piperr-style.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/static/assets/pages/img/favicon/favicon.ico" />
</head>
<body class="login">
  <div class="user-login">
    <div class="row bs-reset">
      <div class="col-md-6 login-container bs-reset">
        <div class="tbl-view">
          <div class="tbl-cell-view">
            <div class="user-login__content">
              <img src="/static/assets/pages/img/logo_a3framework.svg" />
              <h1 class="text-center">Big-Data Apps for AI & IOT</h1>
              <p>Welcome back! Please sign in.</p>
              <div class="user-login__form">
                <!-- Google Sign In button -->
                <a href="/auth/google" class="btn btn-danger btn-block text-center" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                  <i class="fa fa-google"></i> Sign in with Google
                </a>
                <!-- Microsoft Sign In button -->
                <a href="/auth/microsoft" class="btn btn-primary btn-block text-center" style="display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 10px;">
                  <i class="fa fa-windows"></i> Sign in with Microsoft
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 bs-reset">
        <div class="user-login__infography"> 
          <div id="carousel-example-generic" class="carousel slide login-carousel" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="/static/assets/pages/img/bg_login.png" alt="">
                <div class="carousel-caption">
                  <h2>“An integrated suite for building, managing, and monitoring complex data pipelines.”</h2>
                  <h6>Synthetic Data Generator</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts with absolute paths -->
  <script src="/static/assets/global/plugins/jquery.min.js"></script>
  <script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/global/plugins/js.cookie.min.js"></script>
  <script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/static/assets/global/plugins/jquery.blockui.min.js"></script>
  <script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="/static/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
  <script src="/static/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
  <script src="/static/assets/global/plugins/select2/js/select2.full.min.js"></script>
  <script src="/static/assets/global/plugins/backstretch/jquery.backstretch.min.js"></script>
  <script src="/static/assets/global/scripts/app.min.js"></script>
  <script src="/static/assets/pages/scripts/login-5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</body>
</html>