a:hover, a:focus {
    text-decoration: none;
}
/* === Header === */

#header .branding a.brand {
    background-position: 0 2px !important;
    width: 50px;
    height: auto;
    -webkit-background-size: 40px !important;
    background-size: 40px !important;
    padding-left: 50px;
    line-height: 45px;
}
#header .branding a.brand span img {
    width: 115px;
    height: auto;
}
.sidebar-xs #header .branding {
    width: 50px;
}
.sidebar-xs #header .branding a.brand {
    background-position: 5px 2px !important;
    height: 50px;
}
#header .dropdown > .dropdown-menu {
    margin-left: -4px;
}
#header .dropdown.nav-profile > .dropdown-menu {
    margin-left: -30px;
}
#header .loqle-header-logo {
    padding: 5px 15px;
    margin-top: 0 !important;
}
#header .loqle-header-logo img {
    width: 60px;
    height: auto;
}
#header .locatio-dropdown .dropdown-toggle span, #header .device-dropdown .dropdown-toggle span {
    font-size: 15px;
}
#header .locatio-dropdown .dropdown-toggle span i, #header .device-dropdown .dropdown-toggle span i {
    font-size: 12px;
}
#header .header-date {
    padding: 0 15px;
}
#header .header-date p {
    margin-bottom: 0;
}
#header .header-dropdown .form-control {
    background-color: transparent;
    border: none;
    color: #fff;
    margin-top: 4px;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 700;
}
#header .header-dropdown .form-control > option {
    color: #000;
}
.custom-font {
    font-family: "Lato", "Arial", sans-serif;
}
/* ------------------------------------------------------- */
/* === navigation === */

#sidebar-wrap .panel-heading {
    display: none;
}
#sidebar-wrap .panel-body {
    padding: 0 15px 15px;
}
#navigation > li > a {
    padding: 8px 15px;
}
/* ------------------------------------------------------- */
/* === Dashborad === */

.tile .tile-header h3 {
    font-size: 20px;
}
.track-info .tile {
    text-align: center;
}
.track-info .tile-body {
    padding-bottom: 25px;
}
.track-info .tile-body h2, .track-info .tile-body h3 {
    margin: 0;
    font-weight: 600;
}
.track-info .tile-body hgroup .fa {
    font-size: 20px;
    vertical-align: middle;
}
.track-info .tile-body hgroup.well h4, .track-info .tile-body hgroup.well h6 {
    margin: 0;
}
.track-info .tile-body hgroup.well {
    padding: 5px;
    margin: 0;
}
.track-info .tile-body hgroup.well + .well {
    margin-top: 10px;
}
.track-info.has-well .tile {
    text-align: inherit;
}
.track-info.has-well .tile .fa {
    padding: 10px 0;
}
.weekly-chart {
    width: 100%;
}
.weekly-chart .wc_panel {
    width: 100%;
    border-top: 1px solid #ddd;
    display: block;
    clear: both;
    padding-top: 5px;
}
.weekly-chart .wc_panel h5 {
    font-size: 16px;
    margin-top: 15px;
}
.weekly-chart .wc_panel strong {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}
.weekly-chart .wc_panel figure img {
    width: 50px;
    height: auto;
}
.weekly-chart .wc_panel figcaption strong {
    font-size: 14px;
    display: inline-block;
    margin-top: 0;
}
.weekly-chart .wc_panel figcaption strong + strong {
    margin-left: 5px;
}
.weekly-chart .wc_panel figcaption h6 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}
.weekly-chart .wc_panel .wcp__col {
    width: 50%;
    float: left;
}
}
/* Dashborad National Average section */

.db__national-average .db__na-highlight strong {
    font-size: 24px;
}
.db__national-average hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.db__national-average hgroup h4 {
    font-size: 18px;
}
.db__national-average hgroup h2 {
    font-size: 18px;
}
/* ------------------------------------------------------- */
/* === Helper === */

.p10 {
    padding: 10px;
}
.inline-block {
    display: inline-block;
}
/* ------------------------------------------------------- */
/* === CSS3 Animation === */

.blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
/* === Icons === */

.icon-xxxl {
    font-size: 60px !important;
}
/* === Page Core === */

.page-login > div img {
    vertical-align: bottom;
    margin-right: 5px;
    width: 150px;
    height: auto;
}
.page-login .container {
    position: relative;
}
.page-login .container .login-logo-lqale {
    position: absolute;
    bottom: -50px;
    right: 0;
}
.page-login .container .login-logo-lqale strong {
    margin-right: 5px;
}
.page-login .container .login-logo-lqale img {
    width: 70px;
    height: auto;
    vertical-align: text-top;
}
/* No Data Message */

.no-data-msg {
    display: table;
    height: 277px;
    width: 100%;
}
.no-data-msg div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.no-data-msg .fa {
    font-size: 40px;
    color: #ccc;
    margin-top: -15px;
}
.no-data-msg h4 {
    font-weight: 600;
    color: #ccc;
    font-size: 20px;
}
/* chart-raise */

.chart-raise-status {
    width: 50px;
    height: 30px;
    display: inline-block;
}
.chart-raise-status.up {
    background: url(../images/sm_chart-raise.png) 0 0 no-repeat;
    background-size: 50px 30px;
}
.chart-raise-status.down {
    background: url(../images/sm_chart-low.png) 0 0 no-repeat;
    background-size: 50px 30px;
}
.chart-raise-status.equal {
    background: url(../images/sm_chart-equal.png) 0 0 no-repeat;
    background-size: 50px 30px;
}
#dwelltime3 {
    position: relative;
    left: -35px;
}
/* Hyper Local */

.hyperlocal-page {
    padding: 0;
    overflow: hidden;
}
.hyperlocal-page, .hyperlocal-map, .hyperlocal-map #map {
    width: 100%;
    height: 100%;
}
.hyperlocal-map {
    position: relative;
}
.hyperlocal-map .hyperlocal-table {
    position: absolute;
    top: 0;
    width: 470px;
    bottom: 0;
}
.hyperlocal-table {
    background-color: white;
    margin: 10px;
    padding: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 10;
    position: relative;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    right: -500px;
}
.hyperlocal-table .table .delivery-boy-name span {
    width: 75px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.hyperlocal-table .table tbody tr td:last-child .glyphicon {
    font-size: 16px;
}
.hyperlocal-table .table tbody tr:hover td {
    background-color: #f7f7f7;
}
.hyperlocal-table-open {
    right: 0;
}
.hyperlocal-table > section {
    height: calc(100% - 64px);
    margin-bottom: 0;
    overflow: hidden;
    overflow-y: auto;
}
.hyperlocal-table .hyperlocal-footer {
    text-align: right;
    padding: 15px;
}
.hyperlocal-action {
    position: absolute;
    left: 0;
    bottom: 0;
}
#drop-action-button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 600px;
    height: 285px;
    padding: 24px;
}
/* Toggle Button */

.widget-pane-toggle-button-container {
    position: absolute;
    z-index: 0;
    top: 50px;
    right: 0;
    z-index: 10;
}
.widget-pane-toggle-button {
    border: 0;
    width: 125px;
    height: 48px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/8px 14px no-repeat;
    border-left: 1px solid #D4D4D4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    color: #000;
    font-size: 16px;
    display: block;
    text-align: left;
    padding-left: 25px;
}
.widget-pane-toggle-button:hover, .widget-pane-toggle-button:focus {
    background: rgba(255, 255, 255, 1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/8px 14px no-repeat;
}
.widget-pane-toggle-button + .widget-pane-toggle-button {
    margin-top: 10px;
}
.button {
    position: relative;
    border-radius: 50%;
    margin-bottom: 18px;
}
.button:last-child {
    margin-bottom: 0;
}
.button-floating::before {
    content: "+";
}
.button-floating, .button-floating-shadow {
    width: 54px;
    height: 54px;
}
.button-floating {
    z-index: 40;
    cursor: pointer;
    background-color: #2196F3;
    color: #FFF;
    font-size: 30px;
    text-align: center;
    line-height: 54px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.button-floating-clicked .button-floating {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.button-sub, .button-floating-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.button-floating-shadow {
    position: absolute;
    z-index: 20;
    left: 24px;
    bottom: 27px;
    border-radius: 50%;
}
.button-sub:hover, .button-floating:hover + .button-floating-shadow, .button-floating-clicked .button-floating-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}
.button-sub {
    opacity: 0;
    z-index: 20;
    left: 6px;
    width: 42px;
    height: 42px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    position: relative;
}
.button-sub .floatingTextBG {
    background-color: #444;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    min-width: 115px;
    border-radius: 3px;
    padding: 2px 10px 3px;
    line-height: 22px;
    left: 50px;
    top: 7px;
    position: absolute;
}
.button-sub > i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7.5px;
    margin-top: -7.5px;
    color: #FFF;
}
.button-floating-clicked-out .button-sub {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.button-floating-clicked .button-sub {
    opacity: 1;
    cursor: pointer;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
.button-sub[data-color=purple] {
    background-color: #9C27B0;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.button-floating-clicked .button-sub[data-color=purple] {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.button-sub[data-color=green] {
    background-color: #8BC34A;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.button-floating-clicked .button-sub[data-color=green] {
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}
.button-sub[data-color=pink] {
    background-color: #E91E63;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.button-floating-clicked .button-sub[data-color=pink] {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
.button-sub[data-color=indigo] {
    background-color: #3F51B5;
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
}
.button-floating-clicked .button-sub[data-color=indigo] {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.button-sub .floatingTextBG.has-floatingSection {
    background-color: #000;
    width: 200px;
    height: 200px;
}

 
.welcome-text {
    text-align: center;
    padding: 0 15%;
    margin-bottom: 30px;
}
.welcome-text h3 {
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.welcome-text p { 
    font-size: 18px;
}
.welcome-grid .wg-col {
    text-align: center;
}
.welcome-grid .wg-col img {
    width: 90%;
    height: auto;
}
.btn-get-started {
    margin-top: 50px;
}
.custom-nav-tabs .nav-tabs {
    background-color: #fff9e5;
}
.custom-nav-tabs .nav-tabs > li.active > a, 
.custom-nav-tabs .nav-tabs > li.active > a:hover, 
.custom-nav-tabs .nav-tabs > li.active > a:focus {
    border-color: #ffcc00;
    background-color: #ffcc00;
    box-shadow: inset 0 -3px 0 #ffcc00;
} 
.custom-nav-tabs .nav-tabs > li.active:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffcc00;
}
.nav-tab-count {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 26px;
    display: inline-block;
    border: 2px solid #000;
    position: relative;
    left: -10px;
}

.modal-open.splash .modal-backdrop {
    background-color: #fff;
}
.modal-open.splash.splash-1 .modal-content {
    color: #000;
}
.modal-open.splash.splash-1 .modal-footer .btn-default {
    border-color: #ffcc00;
    background: #ffcc00;
    color: #1e2023;
}
.modal-open.splash .modal-backdrop.in {
    filter: alpha(opacity=95);
    opacity: 0.95;
}
.slider.slider-horizontal {
    width: 100%;
}



/* Responsive layout */

@media only screen and (max-width: 1200px) {
    #header .search .underline-input {
        width: 150px;
    }
}
@media only screen and (max-width: 1023px) {
    #header .search {
        display: none;
    }
    #header .branding {
        padding: 0;
    }
    .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding {
        width: 50px;
    }
    #header .branding a.brand {
        height: 45px;
        width: 45px;
        background-position: 4px 2px !important;
    }
    .appWrapper.sidebar-sm #header .branding .brand {
        margin-left: 16px;
    }
    .appWrapper:not(.sidebar-sm):not(.sidebar-xs) #header .branding .brand {
        margin-left: 0;
    }
}
@media only screen and (max-width: 991px) {
    #dwelltime3 {
        left: 0px;
    }
}
@media only screen and (max-width: 767px) {
    #header .branding {
        height: 64px;
    }
    .sidebar-xs #header .branding a.brand {
        display: inline-block;
        margin: 10px 0;
    }
    .appWrapper.sidebar-xs #header .nav-right .nav-profile {
        right: 0;
    }
    .appWrapper.header-fixed.aside-fixed #content, .appWrapper.sidebar-xs.aside-fixed #sidebar {
        top: 108px;
    }
}
@media only screen and (max-width: 480px) {
    .appWrapper.sidebar-xs #header .branding .brand > span {
        display: block;
    }
    .appWrapper.sidebar-xs #header .nav-right > li.header-date {
        position: absolute !important;
        top: 10px;
        right: 0;
    }
    .custom-select {
        width: 100%;
    }
}
@media only screen and (max-width: 420px) {
    #header .loqle-header-logo {
        display: none;
    }
    .appWrapper.sidebar-xs #header .nav-right .nav-profile {
        position: absolute !important;
    }
}
