@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-ExtraBold.eot');
    src: url('Inter24pt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Inter24pt-ExtraBold.woff2') format('woff2'),
        url('Inter24pt-ExtraBold.woff') format('woff'),
        url('Inter24pt-ExtraBold.ttf') format('truetype'),
        url('Inter24pt-ExtraBold.svg#Inter24pt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-Bold.eot');
    src: url('Inter24pt-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inter24pt-Bold.woff2') format('woff2'),
        url('Inter24pt-Bold.woff') format('woff'),
        url('Inter24pt-Bold.ttf') format('truetype'),
        url('Inter24pt-Bold.svg#Inter24pt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-Black.eot');
    src: url('Inter24pt-Black.eot?#iefix') format('embedded-opentype'),
        url('Inter24pt-Black.woff2') format('woff2'),
        url('Inter24pt-Black.woff') format('woff'),
        url('Inter24pt-Black.ttf') format('truetype'),
        url('Inter24pt-Black.svg#Inter24pt-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-SemiBold.eot');
    src: url('Inter24pt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Inter24pt-SemiBold.woff2') format('woff2'),
        url('Inter24pt-SemiBold.woff') format('woff'),
        url('Inter24pt-SemiBold.ttf') format('truetype'),
        url('Inter24pt-SemiBold.svg#Inter24pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-Medium.eot');
    src: url('Inter24pt-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter24pt-Medium.woff2') format('woff2'),
        url('Inter24pt-Medium.woff') format('woff'),
        url('Inter24pt-Medium.ttf') format('truetype'),
        url('Inter24pt-Medium.svg#Inter24pt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-Regular.eot');
    src: url('Inter24pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter24pt-Regular.woff2') format('woff2'),
        url('Inter24pt-Regular.woff') format('woff'),
        url('Inter24pt-Regular.ttf') format('truetype'),
        url('Inter24pt-Regular.svg#Inter24pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

